body {
  background: linear-gradient(180deg,  rgb(255, 255, 255), rgb(106, 154, 218)); 
}

.carousel-item {
  height: 70vh;
}
.carousel-item > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: none !important;
  max-width: none !important;
  min-height: 100%;
  min-width: 100%;

}